figure {
    text-align: center;
    padding-top: 3rem;
}

audio {
    width: 40rem;
}

figcaption {
    font-family: Grandstander-Medium;
    font-size: 1.4rem;
    padding-bottom: 2rem;
    text-align: center;
}

@media screen and (max-width: 450px) {
    figure {
        text-align: center;
        padding-top: 3rem;
    }
    
    audio {
        width: 22rem;
        text-align: center;
    }
    
    figcaption {
        font-family: Grandstander-Medium;
        font-size: 1.4rem;
        padding-bottom: 2rem;
        text-align: center;
    }
}